* {
  font-family: "Poppins", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.m-container {
  height: 100%;
  width: 100%;
}
.m-grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(300px, 1fr) 3fr;
  grid-template-areas: "sidebar content";
  column-gap: 1rem;
}

.m-sidebar {
  grid-area: sidebar;
  position: fixed;
  left: 0;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  z-index: 10;
  padding-bottom: 50px;
}

.m-sidebar::-webkit-scrollbar {
  width: 6px;
}

.m-sidebar::-webkit-scrollbar-track {
  display: none;
}

.m-sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.m-content {
  grid-area: content;
  width: 100%;
}

body {
  overflow: hidden;
}

body canvas {
  z-index: -1;
}

body div[style="position: absolute;"] {
  z-index: -1;
}

.m-grid {
  justify-content: space-evenly;
}

#marmosetUI {
  left: 126px;
}
